{% for group in extensions_groups %}
    <li>
        <span>{{ group.label }}</span>
        <ul>
            {% for extension in group.extensions %}
                <li><a {% if current_extension_label is defined and extension.label == current_extension_label %}class="active"{% endif %} href="/extensions/{{ extension.label }}">{{ extension.label }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
