{% extends 'layout.html.twig' %}

{% block content %}

    <h1>atoum's extensions : {{ extension }}</h1>

    <p>
        It seems that the extension you are looking for are not found.
    </p>

    <p>
        If you have created a new extension, just submit a PR on the <a href="https://github.com/atoum/extensions.atoum.org/pulls" target="github">GitHub repository</a>.
    </p>

{% endblock %}
