{% extends 'layout.html.twig' %}

{% block content %}

    <h1>atoum's extensions</h1>

    <div class="extension-list">

        <ul>
            {{ include('extension_list.html.twig') }}
        </ul>

    </div>

{% endblock %}
