{% extends 'layout.html.twig' %}

{% block content %}

    <h1>atoum's extensions</h1>

    <p>atoum functionalities could be extended through extensions.  Here is the list of existing extensions and the link to the documentation of each.</p>

    <div class="extension-list">

        <ul class="extension-home-list">
	        {% include 'extension_list.html.twig' with {title_tag: 'h3'} %}
        </ul>

    </div>

{% endblock %}
