<nav id="menu">
    <ul>
        <li>
            <a href="http://atoum.org/" id="nav-about">
                <img src="/assets/images/icon/about.svg" />
                about
            </a>
        </li>
        <li>
            <a href="http://atoum.org/features.html" id="nav-features">
                <img src="/assets/images/icon/features.svg" />
                features
            </a>
        </li>
        <li>
            <a href="http://atoum.org/sources.html" id="nav-source">
                <img src="/assets/images/icon/source.svg" />
                sources
            </a>
        </li>
        <li>
            <a href="http://docs.atoum.org/" id="nav-documentation">
                <img src="/assets/images/icon/documentation.svg" />
                documentation
            </a>
        </li>
        <li>
            <a href="http://atoum.org/news.html" id="nav-posts">
                <img src="/assets/images/icon/news.svg" />
                news
            </a>
        </li>
        <li>
            <a href="http://extensions.atoum.org" id="nav-extensions">
                <img src="/assets/images/icon/puzzle.svg" />
                extensions
            </a>
        </li>
        <li>
            <a href="https://dashboard.telemetry.atoum.org" id="nav-telemetry" target="telemetry">
                <img src="/assets/images/icon/telemetry.svg" />
                telemetry
            </a>
        </li>

    </ul>
</nav>
