<nav id="menu" class="atoum-menu--container atoum-menu--container__primary">
    <ul>
        <li>
            <a href="http://atoum.org/" id="nav-about">
                <img src="/assets/images/icon/about.svg" />
                about
            </a>
        </li>
        <li>
            <a href="http://atoum.org/features.html" id="nav-features">
                <img src="/assets/images/icon/features.svg" />
                features
            </a>
        </li>
        <li>
            <a href="http://atoum.org/sources.html" id="nav-source">
                <img src="/assets/images/icon/source.svg" />
                sources
            </a>
        </li>
        <li>
            <a href="http://docs.atoum.org/" id="nav-documentation">
                <img src="/assets/images/icon/documentation.svg" />
                documentation
            </a>
        </li>
        <li>
            <a href="http://atoum.org/news.html" id="nav-posts">
                <img src="/assets/images/icon/news.svg" />
                news
            </a>
        </li>
        <li>
            <a href="http://extensions.atoum.org" id="nav-extensions">
                <img src="/assets/images/icon/puzzle.svg" />
                extensions
            </a>
        </li>
        <li>
            <a href="https://dashboard.telemetry.atoum.org" id="nav-telemetry" target="telemetry">
                <img src="/assets/images/icon/telemetry.svg" />
                telemetry
            </a>
        </li>

    </ul>
</nav>

<div aria-controls="menu" onclick="toggleMenu(this)" class="atoum-menu--icon-container">
    <svg viewBox="0 0 100 100" class="atoum-menu--icon">
        <title>Open menu icon</title>
        <desc>N-ARY CIRCLED PLUS OPERATOR</desc>

        <circle cx="50" cy="50" r="40" />
        <line x1="20" y1="50" x2="80" y2="50" transform="rotate(90 50 50)" />
        <line x1="20" y1="50" x2="80" y2="50" />
    </svg>
</div>
