<div class="atoum-menu--container atoum-menu--container__secondary sidebar extension-list" id="sidebar">
    <ul>
        <li>
            <ul>
                <li><a href="/">Extension list</a></li>
            </ul>
        </li>
        {{ include('extension_list.html.twig') }}
    </ul>
</div>

<div aria-controls="sidebar" onclick="toggleMenu(this)" class="atoum-menu--icon-container">
    <svg viewBox="0 0 100 100" class="atoum-menu--icon">
        <title>Open sidebar icon</title>
        <desc>N-ARY CIRCLED PLUS OPERATOR</desc>

        <circle cx="50" cy="50" r="40" />
        <line x1="20" y1="50" x2="80" y2="50" transform="rotate(90 50 50)" />
        <line x1="20" y1="50" x2="80" y2="50" />
    </svg>
</div>
