<div class="atoum-menu-desktop--secondary extension-list">

    <div class="secondary-menu-header">
        <a class="secondary-menu-header--logo-link" href="/">
            <img src="http://docs.atoum.org/en/latest/_static/atoum.png" class="secondary-menu-header--logo" />
        </a>

        <div class="secondary-menu-header--empty-translation-list"></div>

        <input type="text" placeholder="Search" id="algolia-search" class="secondary-menu-header--search" onFocus="toggleSearch(true)" onBlur="toggleSearch(false)" />
    </div>

    <ul style="padding: 10px 0 0 0">
        {{ include('extension_list.html.twig') }}
    </ul>
</div>
