.atoum-menu--container {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9;
}

.atoum-menu--container__primary {
  width: 200px;
  left: -200px;
}

.atoum-menu--container__secondary {
  right: -300px;
  width: 300px;
}

.atoum-menu--container__primary[aria-selected='true'] {
  left: 0;
}

.atoum-menu--container__secondary[aria-selected='true'] {
  right: 0;
}

.atoum-menu--icon-container {
  z-index: 1;
  position: fixed;
  top: 10px;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(-360deg) translateZ(0);
  -webkit-transform: translateZ(0);
}

.atoum-menu--container__primary ~ .atoum-menu--icon-container {
  left: 10px;
}

.atoum-menu--container__secondary ~ .atoum-menu--icon-container {
  right: 10px;
}

.atoum-menu--icon {
  background-color: rgba(111, 95, 93, 1);
  border-radius: 20px;
}

.atoum-menu--icon circle,
.atoum-menu--icon line {
  fill: none;
  stroke: #f5f2e7;
  stroke-width: 4;
}

.atoum-menu--container, .atoum-menu--icon-container {
  transition: 500ms cubic-bezier(.26, 1.59, .64, 1);
  transition-property: transform, left, right;
  -webkit-transition: 500ms cubic-bezier(.26, 1.59, .64, 1);
  -webkit-transition-property: -webkit-transform, left, right;
}

.atoum-menu--container[aria-selected='true'] ~ .atoum-menu--icon-container {
  transform: rotate(45deg) translateZ(0);
  -webkit-transform: rotate(405deg) translateZ(0);
}

.atoum-menu--container__primary[aria-selected='true'] ~ .atoum-menu--icon-container {
  margin-left: 200px;
}

.atoum-menu--container__secondary[aria-selected='true'] ~ .atoum-menu--icon-container {
  margin-right: 300px;
}

@media all and (min-width: 800px) {
  .atoum-menu--container__primary {
    left: 0;
  }

  .atoum-menu--container__secondary {
    left: 200px;
    right: unset;
  }

  .atoum-menu--icon-container {
    display: none;
  }
}
