%atoum-menu--container {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9;
}

%atoum-menu-secondary {
  overflow-y: auto;
  background-color: #343131;
  > ul {
    > li {
      padding: 5px 40px 5px 40px;
    }

    > li > ul {
      margin: 10px 0 40px;
    }
  }
}

.atoum-menu--icon-container {
  z-index: 1;
  position: fixed;
  top: 10px;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(-360deg) translateZ(0);
  -webkit-transform: translateZ(0);
}

.atoum-menu--container__primary ~ .atoum-menu--icon-container {
  left: 10px;
}

.atoum-menu--icon {
  background-color: rgba(111, 95, 93, 1);
  border-radius: 20px;
}

.atoum-menu--icon circle,
.atoum-menu--icon line {
  fill: none;
  stroke: #f5f2e7;
  stroke-width: 4;
}

.atoum-menu--container, .atoum-menu--icon-container {
  transition: 500ms cubic-bezier(.26, 1.59, .64, 1);
  transition-property: transform, left, right;
  -webkit-transition: 500ms cubic-bezier(.26, 1.59, .64, 1);
  -webkit-transition-property: -webkit-transform, left, right;
}

.atoum-menu--container[aria-selected='true'] ~ .atoum-menu--icon-container {
  transform: rotate(45deg) translateZ(0);
  -webkit-transform: rotate(405deg) translateZ(0);
}


.atoum-menu--container__secondary[aria-selected='true'] ~ .atoum-menu--icon-container {
  margin-right: 300px;
}

@media all and (min-width: 800px) {
  .atoum-menu--icon-container {
    display: none;
  }
}

$atoum-menu-desktop-primary-width: 200px;
$atoum-menu-mobile-width: 300px;

.atoum-mobile-menu {
  @extend %atoum-menu--container;
  @extend %atoum-menu-secondary;

  width: $atoum-menu-mobile-width;
  left: -$atoum-menu-mobile-width;

  &[aria-selected='true'] {
    left: 0;
    ~ .atoum-menu--icon-container {
      margin-left: $atoum-menu-mobile-width;
    }
  }

  .menu-item--brand {
    height: 40px;
    padding: 5px 40px 5px 20px !important;
    img {
      height: 20px;
      vertical-align: middle;
    }
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
  }


  .menu-item--primary {
    line-height: 40px;
    padding: 0 !important;
    img {
      height: 30px;
      vertical-align: middle;
    }
    a {
      display: block;
      padding: 12px 40px 12px 20px !important;
      color: #fff;
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .menu-item--current {
    margin: 20px 0;
  }
}

.atoum-menu-desktop--primary {
  @extend %atoum-menu--container;
  display: none;
  width: $atoum-menu-desktop-primary-width;

  background-color: rgba(111, 95, 93, 1);

  > ul {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;

    > li {
      display: table-row;

      &::before {
        content: '';
      }

      > a {
        display: table-cell;
        vertical-align: middle;
        color: #f0e9dd;
        font-variant: all-small-caps;
        text-decoration: none;
        cursor: pointer;

        > img {
          display: block;
          width: 50px;
          height: 50px;
          margin: 0 auto;
          vertical-align: middle;
        }
      }
    }
  }
}


.atoum-menu-desktop--secondary {
  @extend %atoum-menu--container;
  @extend %atoum-menu-secondary;
  display: none;
  margin-left: $atoum-menu-desktop-primary-width;
  width: 300px;
}


@media all and (min-width: 800px) {
  .atoum-menu-desktop--primary, .atoum-menu-desktop--secondary {
    display: block;
  }
}


#nav-features {
  background: rgba(131, 93, 91, .6);
}

#nav-source {
  background: rgba(162, 107, 97, .6);
}

#nav-documentation {
  background: rgba(227, 143, 113, .6);
}

#nav-extensions {
  background: rgba(252, 218, 186, .6);
}

#nav-posts {
  background: rgba(240, 178, 112, .6);
}

#nav-about {
  background: rgba(111, 95, 93, .6);
}

#nav-telemetry {
  background: rgba(187, 73, 68, 0.6);
}
